*.bib.sav
private_config.ini
venv
.corrections
data/pdfs
.report.log
__pycache__
output
data/pdf_get_man/missing_pdf_files.csv
data/.tei/
data/prep_man/records_prep_man.bib
data/prep/
data/dedupe/
.history
